

{%extends "index.html"%}


{%block content%}
<div class= "container-fluid">
    <div class= "row ">
       <div class= "col-6">
            <h1 class="display-1">{{user.username}}</h1>
            
                    <p class= "lead">
                      <strong>Email:</strong> 
                      <small>{{user.email}}</small> 
                    </p>
                    <p class= "lead">
                  <strong>First Name:</strong> <small>{{user.first_name}} </small> 
                   <strong>Last Name:</strong> <small>{{user.last_name}}</small> 
                    </p>



                    <a href="/users/{{user.username}}/feedback/add">Add Some Feedback</a>
                    <form action="/logout">
                        <button type="submit">Logout</button>   
                       </form>
        </div> 
        <div class=" col-6">
        
            
            
                {%for feed in user.feedback%}
                   <div class="container">
                       <div class="card">
                        <h1 class="display-5 text-center">{{feed.title}}</h1>
                        <p class="card-body mb-0">
                            {{feed.content}}
                            <small>
                               <em>
                                ~{{feed.username}} 
                               </em> 

                               <a href="/feedback/{{feed.id}}/update">Update feedback
                                <br>
                                </a>
                                
                                <form class="form" action="/feedback/{{feed.id}}/delete">
                                    <button class="px-5 btn btn-danger"type="submit" >Delete</button>
                                </form>
                    
                            </small>
                        </p>
                        
                    </div> 
                   </div>
                    
                {%endfor%}
            
            <a  href="/users/{{user.username}}/delete"></a>
        
     </div>
    </div>
   
    
</div>
    
    


{%endblock%}